<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Open Library</title>
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #0c5460;
            color: white;
            text-align: center;
        }
        .center {
            display: block;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
</head>
<body>
<% include nav.ejs %>

<img src="/static/images/book.jpg" class="center">

<div class="container" style="alignment: center">
    <br>
    <br>
   <p>


        Books play a significant role in our life. They say that “When you open a book, you open a new world”. I believe that everyone would agree with this statement as books have become inevitable to mankind. For the majority of people, books are part of their everyday life.  A book is like a best friend who will never walk away from you.

        Books are packed with knowledge, insights into a happy life, life lessons, love, fear, prayer and helpful advice. One can read about anything under the sun. Books have been here for centuries and without them today’s knowledge of our past ancestors, cultures and civilizations would have been impossible. Have you ever thought what would have happened if intellectuals never documented their studies?
    </p>
</div>

<% include footer.ejs %>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>