<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <title>Document</title>
</head>
<body>

        <div class="top-content">
                <div class="container">
    
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h2>ICES</h2><br>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 r-form-1-box wow fadeInUp">
                            <div class="r-form-1-top">
                                <div class="r-form-1-top-left">
                                    <p>Fill in the form below to register :</p>
                                </div>
                                <div class="r-form-1-top-right">
                                    <i class="fa fa-pencil"></i>
                                </div>
                            </div>
                            <div class="r-form-1-bottom">
                                <form action="/signup" method="post">
                                    <div class="form-group">
                                        <input type="text" name="username" placeholder="Username..." class="form-control" id="username">
                                    </div>
    
                                    <div class="form-group">
                                        <input type="password" name="password" placeholder="Password..." class="form-control" id="password">
                                    </div>
    
                                    <div class="form-group">
                                        <input type="password" name="repassword" placeholder="Repeat Password..." class="form-control" id="repassword">
                                    </div>
    
                                    <button type="submit" class="btn">Sign me up!</button>
                                </form>
                            </div>
                        </div>
    
                    </div>
            <p><a href="/login">Already have an account?</a></p>
            </div>
            </div>
    
    
</body>
</html>