<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
    <style>
                .center {
            margin: auto;
            width: 40%;
            border: 3px solid #062c33;
            color: #062c33;
            padding: 10px;
          }
                .heading {
                    margin: auto;
                    width: 30%;
                    padding: 10px;
                }
              </style>
    
</head>
<body>


<% include nav.ejs %>

<div class="heading">
    <h2>Available books in the bookstore</h2>

</div>
        <% books.forEach(function(book,i) { %>
                        <div class="center">
                                        <div class="well" style="margin-top: 8px"></div>
                                        <h3><strong><%= book.title %></strong></h3>
                                        <img class="centre-cropped" src="<%= book.source %>">
                                        <h3><strong>By:<%= book.author %></strong></h3>
                                        <p><%= book.details %></p>
                                </div>
                                <br><br>
                                
              <% }) %>
    </table>
<% include footer.ejs %>

</body>
</html>